body{
	background-color: #F2E608;
}
.page-header {
	margin-top: 0px;
	background-color: #F5041A
}
h1 {


	color:#FDDC00;
	
}

.container{
	margin-right: auto;
	margin-left: auto;
	width: 1060px;
}

.clicker{
	margin-right: auto;
	margin-left: auto;
}

img {
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	
}
button{
	background-color: #DD038F;
}