body{
	background-color: #F2E608;
}
.page-header {
	margin-top: 0px;
	background-color: #F5041A
}
h1 {


	color:#FDDC00;
	
}

.container{
	margin-right: auto;
	margin-left: auto;
	width: 1060px;
}

.clicker{
	margin-right: auto;
	margin-left: auto;
}

img {
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	transition: height 0.2s;
	
}
img:active{
	height: 180px;
}


button{
	background-color: #DD038F;
	margin-top: 10px;
	width: 250px;
}